#categoryList, #subcategoryList, #fileList, #examList
{
    list-style-position: inside;
    padding-left: 0;
}

ul li::marker
{
  content: "🥒 ";
}

.input-group-text
{
  background-color: #005D59;
  color: white;
}