.selectedOption
{
    border: 1px solid green;
    background-color: green;
}

.unselectedOption
{
    border: 1px solid gray;
    background-color: gray;
}

.correctQuestion
{
    border: 1px solid green;
}

.incorrectQuestion
{
    border: 1px solid red;
}
