.message
{
    border-radius: 6px;
    border: 3px solid #005D59;
}

.message-header
{
    background-color: #005D59;
    color: white;
}

body
{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#chatInputArea
{
    width: 100%;
    background: white;
}

#chatMessages
{
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.userName, .date
{
    border-radius: 6px;
}

.card-header
{
    border-radius: 0 !important;
}

input
{
    border-color: #005D59 !important;
}
